body{
    background-color: #FCB898; 
    text-align: center;
}

#background-image {
    /* text-align: center;  */
    margin: 0;
    width: 20%;
    /* background-attachment: fixed; */
    border-radius: 30px;
    opacity: 0.6;
}
.overlap{
    position: relative;
   width: 100%; /* for IE 6 */
}

.text { 
   position: absolute; 
   top: 150px; 
   left: 0; 
   width: 100%; 
}


button{
    text-decoration: none;
    padding: 5px;
    margin-right: 5%;
    border-radius: 10%;
}

.button:hover{
    transform: scale(1.5); /*make buttons bigger as you hover it*/
}

a{
    color: black;
    text-decoration: none;
}

/*overlap{
    min-height: calc(100vh - 70px);
    max-width: 1200px;
    margin: auto;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    border-radius: 30px;
    backdrop-filter: var(--backdrop-filter-blur);
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s ease;
}*/